/* Primary */

html {
    background-size: cover;
}

.home-bg {
/*    background-image: url(../img/pubhome.jpg);
*/}

.about-bg {
/*    background-image: url(../img/pubabout.jpg);
*/}

.contact-bg {}

.press-bg {}

.gallery-bg {}

.events-bg {}

ul li {
    text-decoration: none;
    list-style: none;
}

li {
    display: inline-block;
    margin-left: 1.5em;
    margin-right: 1.5em;
}

a {
    text-decoration: none;
}


/* Quick Alignment */

.right {
    float: right;
    margin-left: 1em;
    margin-right: .5em;
}

.left {
    float: left;
    margin-left: .5em;
    margin-right: 1em;
}

.center {
    text-align: center;
}

.vert {
    margin-top: 10em;
}

.container {
    margin: 0 auto;
    max-width: 100%;
    width: 90%;
}

@media only screen and (min-width: 601px) {
    .container {
        width: 85%;
    }
}

@media only screen and (min-width: 993px) {
    .container {
        width: 70%;
    }
}


/* Row/Column Structure */

.row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.row .col.s1 {
    width: 8.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
}

.row .col.s2 {
    width: 16.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
}

.row .col.s3 {
    width: 25%;
    margin-left: auto;
    left: auto;
    right: auto;
}

.row .col.s4 {
    width: 33.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
}

.row .col.s5 {
    width: 41.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
}

.row .col.s6 {
    width: 50%;
    margin-left: auto;
    left: auto;
    right: auto;
}

.row .col.s7 {
    width: 58.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
}

.row .col.s8 {
    width: 66.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
}

.row .col.s9 {
    width: 75%;
    margin-left: auto;
    left: auto;
    right: auto;
}

.row .col.s10 {
    width: 83.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
}

.row .col.s11 {
    width: 91.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
}

.row .col.s12 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
}
