<div class="event-container contain-flex animated fadeIn">
    <div class="flex-row">
        <div class="vert-event event-page">
            <h3 class="centered">June 2017</h3>
            <div class="contained">
                <div class="row-set">
                    <div class="col s12">
                        <div class="row-set">
                            <div class="col s12">
                                <span class="event-title">Dillon Francis & Mord Fustang</span>
                            </div>
                        </div>
                        <div class="row-set event-row">
                            <div class="col s6 event-col">
                                <img class="img-fit" src="../img/dillonfrancis.jpg" alt="dillon francis logo">
                            </div>
                            <div class="col s6 event-col">
                                Date: 6/17
                                <br> Time: 8pm to 2am
                                <br>Doors Open 7:30pm
                                <p class="centered">
                                    <button type="button">MORE INFO</button>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row-set">
                    <div class="col s12">
                        <div class="row-set">
                            <div class="col s12">
                                <span class="event-title">Diplo & Ru Paul </span>
                            </div>
                        </div>
                        <div class="row-set event-row">
                            <div class="col s6 event-col">
                                <img class="img-shrink diplo" src="../img/diplo.png" aly="diplo logo">
                            </div>
                            <div class="col s6 event-col">
                                Date: 6/18
                                <br> Time: 8pm to 2am
                                <br>Doors Open 7:30pm
                                <p class="centered">
                                    <button type="button">MORE INFO</button>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row-set">
                    <div class="col s12">
                        <div class="row-set">
                            <div class="col s12">
                                <span class="event-title">Yellow Claw & The Wiggles</span>
                            </div>
                        </div>
                        <div class="row-set event-row">
                            <div class="col s6 event-col">
                                <img class="img-shrink" src="../img/yellow.png" alt="yellow claw logo">
                            </div>
                            <div class="col s6 event-col">
                                Date: 6/23
                                <br> Time: 8pm to 2am
                                <br>Doors Open 7:30pm
                                <p class="centered">
                                    <button type="button">MORE INFO</button>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row-set">
                    <div class="col s12">
                        <div class="row-set">
                            <div class="col s12">
                                <span class="event-title">Bingo Players & Lana Del Rey</span>
                            </div>
                        </div>
                        <div class="row-set event-row">
                            <div class="col s6 event-col">
                                <img class="img-shrink" src="../img/bingo.png" alt="bingo players logo">
                            </div>
                            <div class="col s6 event-col">
                                Date: 6/24
                                <br> Time: 8pm to 2am
                                <br>Doors Open 7:30pm
                                <p class="centered">
                                    <button type="button">MORE INFO</button>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
