<div class="vert-gallery animated fadeIn">
    <div class="contain-flex gallery">
        <div class="flex-row row-set">
            <div class="col s4 gallery-pic">
                    <img class="img-shrink" src="../img/party1.jpg" alt="party pic">
            </div>
            <div class="col s4 gallery-pic">
                    <img class="img-shrink" src="../img/party2.jpg" alt="party pic">
            </div>
            <div class="col s4 gallery-pic">
                    <img class="img-shrink" src="../img/party3.jpg" alt="party pic">
            </div>
        </div>
        <div class="flex-row row-set">
            <div class="col s6 gallery-pic">
                    <img class="img-fit" src="../img/party4.jpg" alt="party pic">
            </div>
            <div class="col s6 gallery-pic">
                    <img class="img-fit" src="../img/party10.jpg" alt="party pic">
            </div>
        </div>
        <div class="flex-row row-set">
            <div class="col s4 gallery-pic">
                    <img class="img-shrink" src="../img/party9.jpg" alt="party pic">
            </div>
            <div class="col s4 gallery-pic">
                    <img class="img-shrink" src="../img/party5.jpg" alt="party pic">
            </div>
            <div class="col s4 gallery-pic">
                    <img class="img-shrink" src="../img/party11.jpeg" alt="party pic">
            </div>
        </div>
    </div>
</div>
