<div class="vert-layout">
    <div class="contained">
        <div class="row-set">
            <div class="s12">
                Event
                <p>
                    Description. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium facilis, a cumque perferendis, nobis quas sit ut dolorem, nihil dolorum laboriosam qui minus perspiciatis, quisquam officia et dolores suscipit sapiente.
                </p>
            </div>
        </div>
        <hr>
        <div class="row-set">
            <div class="s12">
                Event
                <p>
                    Description. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium facilis, a cumque perferendis, nobis quas sit ut dolorem, nihil dolorum laboriosam qui minus perspiciatis, quisquam officia et dolores suscipit sapiente.
                </p>
            </div>
        </div>
        <hr>
        <div class="row-set">
            <div class="s12">
                Event
                <p>
                    Description. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium facilis, a cumque perferendis, nobis quas sit ut dolorem, nihil dolorum laboriosam qui minus perspiciatis, quisquam officia et dolores suscipit sapiente.
                </p>
            </div>
        </div>
    </div>
</div>
