<div class="vert-gallery animated fadeIn">
    <div class="contain-flex">
        <div class="flex-row row-set gallery">
            <div class="col s4">
                <a href="">
                    <img class="img-shrink gallery-pic" src="../img/pubhome.jpg">
                </a>
            </div>
            <div class="col s4">
                <a href="">
                    <img class="img-shrink gallery-pic" src="../img/pubhome.jpg">
                </a>
            </div>
            <div class="col s4">
                <a href="">
                    <img class="img-shrink gallery-pic" src="../img/pubhome.jpg">
                </a>
            </div>
        </div>
        <div class="flex-row row-set">
            <div class="col s6">
                <a href="">
                    <img class="img-fit gallery-pic" src="../img/pubhome.jpg">
                </a>
            </div>
            <div class="col s6">
                <a href="">
                    <img class="img-fit gallery-pic" src="../img/pubhome.jpg">
                </a>
            </div>
        </div>
        <div class="flex-row row-set">
            <div class="col s4">
                <a href="">
                    <img class="img-shrink gallery-pic" src="../img/pubhome.jpg">
                </a>
            </div>
            <div class="col s4">
                <a href="">
                    <img class="img-shrink gallery-pic" src="../img/pubhome.jpg">
                </a>
            </div>
            <div class="col s4">
                <a href="">
                    <img class="img-shrink gallery-pic" src="../img/pubhome.jpg">
                </a>
            </div>
        </div>
    </div>
</div>
