/* Primary */
html {
    overflow-x: hidden;
}


#bs-override {
    margin: 0;
    color: white;
    background: url(../img/barbg.jpg) no-repeat center center fixed;
    background-size: cover;
    color: white;
    font-family: 'Raleway', sans-serif;
    height: 100vh; 
    width:100vw;
}

#bs-override a:active,
#bs-override a:visited,
#bs-override a:hover {
    color: white;
    text-decoration: none;
}

li,
button,
.event-title,
h3,
h4 {
    font-family: 'Alegreya Sans SC', serif !important;
    font-weight: 800;
}

h5 {
    font-weight: 600;
}

/* Navigation */

ul li {
    text-decoration: none;
    list-style: none;
}

ul li:hover {
    background-color: #76C0CF;
}

li {
    display: inline-block;
    margin-left: 1.5em;
    margin-right: 1.5em;
    font-size: 17px;
}

ul a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: white;
}
.menu {
    background-color: rgba(0, 0, 0, .8);
    width: 100%;
    position: fixed;
    top: 0;
    height: 56px;
    line-height: 56px;
    text-align: center;
    z-index: 99;
    margin-top: 10em; 
    display: block;
}

.menu img .logo-img {
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    padding: 0;
    white-space: nowrap;
}

.mobile-only {
    display: none;
}

#menu > a {
    display: none;
}

#menu a:hover {
        color: #F4A700;
}

#menu li {
    position: relative;
}
 
 
#menu > ul {
    height: 3.75em;
}

#menu > ul > li {
    width: 16.%;
    height: 100%;
    float: left;
    background-color: rgba(0, 0, 0, .8);

}

/* Header */

.header-top {
    height: 10em;
    background: url(../img/pubabout.jpg) no-repeat center center fixed;
    display: block;
    background-size: cover;
    filter: grayscale(100%);
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: fixed;
    z-index: 9999;
    top: 0;
}

/* Homepage */

.home {
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    display: flex;
}

.home-container {
    margin: 18% auto;
    width: 50%;
    padding: 3em;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #000;
}

.home-content {
    text-align: center;
}

.home-cta-section {
    display: flex;
}

.home-btn-container {
    margin: .2em;
    background-color: #F4A700;
    width: 250px;
    height: 300px;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-btn-container:hover {
    background-color: #FFF;
}

a.home-cta {
    width: 100%;
    text-align: center;
    padding: 1em;
    color: #000;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
}

a.home-cta:hover {
    color: #000 !important;
}

@media only screen and (max-width: 40em) {

    .mobile-menu-btn {
        display: inline-block;
        background: none;
        margin-top: 0;
    }

    #menu > a {
        color: #FFF;
    }

    #menu:not( :target) > a:first-of-type, #menu:target > a:last-of-type {
        display: block;
    }

    #menu > ul {
        height: auto;
        position: absolute;
        left: 0;
        right: 0;
        padding-left: 0;
        margin-left: 0;
    }

    #menu:target > ul {
        display: block;
    }

    #menu > ul > li {
        width: 100%;
        float: none;
        margin-left: 0;
    }

    .home-box img {
        margin-top: 2em;
    }

    .home-container {
        width: 100%;
        flex-direction: column;
        padding: 3em .5em;
        margin-top: 10em;
    }

    .home-container .site-logo {
        display: none;
    }

    .home-content {
        margin: 2em 0;
    }

    .home-cta-section {
        flex-direction: column;
        width: 100%;
    }

    .home-btn-container {
        width: 100%;
    } 

    .event-page {
        margin-left: .5em;
        margin-right: .5em;
    }

    div.event-container {
        width: 100%;
        margin: 15em 0 !important;
    }

    div.contact-box {
        margin: 15em .5em;
    }

    div.about-blurb {
        width: 100%;
    }

    .contact-container {
        flex-direction: column;
    }

    .info-socials {
        margin-bottom: 2em;
    }
}


/* Quick Alignment */

.img-shrink {
    max-width: 100%;
    height: auto;
}

.img-fit {
    height: 100%;
    width: 100%;
}

.place-right {
    float: right;
    margin-left: 1em;
    margin-right: .5em;
}

.place-left {
    float: left;
    margin-left: .5em;
    margin-right: 1em;
}

 .centered {
    text-align: center;
} 

.vert {
    margin-top: 10em;
}

.vert-layout {
    margin-top: 10em;
}

.vert-gallery {
    margin-top: 15em;
    margin-bottom: 4em;
    padding: 0 1em;
}

div.vert-home {
    margin: 15em;
}


/* Landing Page */

#event-box,
.home-box {
    width: 100%;
    border: 0;
}

#event-box {
    margin: 0 auto;
    height: auto;
    margin-top: 2em;
    padding: 2em;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .7);
}

.event-slide-box {
    width: 100%;
    height: auto;
    padding-top: 2em;
}

.link-align {
    text-align: right;
}

.ev-not-title {
    font-size: 14px;
    font-weight: 200;
    color: #F7E45C;
}

.ev-pad {
    margin: .5em;
    justify-content: center;
}


/* About */

.about-box {
    background-color: rgba(0, 0, 0, .8);
    height: 20em;
    padding: 7.5em;
}


/* Layout Page */

.layout-col,
.layout-img {
    align-self: center;
    padding: 2em;
}

.layout-img {
    width: 100%;
    height: 100%;
}


/* Event Page */

div.event-container {
    margin: 15em;
}

.diplo {
    background-color: rgba(255, 255, 255, .8);
}

.event-title {
    font-size: 18px;
}

.event-page {
    background-color: rgba(0, 0, 0, .8);
    padding: 2em;
}

.event-row {
    padding: 1em;
}

.event-col {
    padding: 3em .5em .5em .5em;
}

.button-row {
    margin-left: 10em;
    margin-right: 10em;
}

button {
    background-color: #184F84;
    border: 0;
    margin-top: 3em;
    padding: .6em;
    color: white;
    font-weight: 600 !important;
    font-size: 17px !important;
}


/* Contact */

.contact-box {
    background-color: rgba(0, 0, 0, .8);
    padding: 2em;
    margin: 15em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-blurb {
    width: 50%;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    justify-content: space-evenly;
}

/* Gallery */

.gallery {
    height: auto;
}

.gallery-pic img:hover {
    filter: grayscale(100%) !important;
}


/* Flex Alignment */

.contain-flex,
.contained {
    margin: 0 auto;
    max-width: 100%;
}

.contained {
    width: 90%;
}

.contain-flex {
    display: flex;
    flex-wrap: wrap;
}

.flex-row2,
.flex-row {
    flex-direction: row;
    flex-basis: 100%;
}

.flex-row {
    justify-content: center;
    align-content: center;
}

.contained .row-set {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
}

/* Media Queries */

@media only screen and (min-width: 500px) {
    .contained {
        width: 90%;
    }
}


@media only screen and (min-width: 601px) {
    .contained {
        width: 85%;
    }

}

@media only screen and (min-width: 993px) {
    .contained {
        width: 70%;
    }
}



/* Row-set/Column Structure */

.row-set { 
    margin-left: auto;
    margin-right: auto;
}

.row-set:after {
    content: "";
    display: table;
    clear: both;
}

.row-set .col {
    float: left;
    box-sizing: border-box;
    min-height: 1px;
}

.row-set .col.s1 {
    width: 8.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
}

.row-set .col.s2 {
    width: 16.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
}

.row-set .col.s3 {
    width: 25%;
    margin-left: auto;
    left: auto;
    right: auto;
}

.row-set .col.s4 {
    width: 33.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
}

.row-set .col.s5 {
    width: 41.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
}

.row-set .col.s6 {
    width: 50%;
    margin-left: auto;
    left: auto;
    right: auto;
}

.row-set .col.s7 {
    width: 58.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
}

.row-set .col.s8 {
    width: 66.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
}

.row-set .col.s9 {
    width: 75%;
    margin-left: auto;
    left: auto;
    right: auto;
}

.row-set .col.s10 {
    width: 83.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
}

.row-set .col.s11 {
    width: 91.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
}

.row-set .col.s12 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
}

